* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #999;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    color: #fff;
}

a {
    color: #070707;
    text-decoration: none;
}

.showcase {
    width: 100%;
    height: 89px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 0 #90107d;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    margin-right: 6.6rem;
}

.nav-list a {
    display: block;
    font-size: 1.8rem;
    padding: 1rem;
}

.nav-list a:hover {
    color: #90107d;
    opacity: 0.9;
}

/* About Section */
.about{
    margin-top: 80px;
    width: 100%;
    height: 80vh;
    color: #ddd;
    background-color: #070707;
    background-image: linear-gradient(129deg,#000,#300c2a);
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
}

.left{
    font-size: 3.8rem;
    font-weight: 100;
    margin-left: 4rem;
  }
  
span{
    margin-top: -80px;
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
    color: #f5487f;
  }
  
  .right{
    font-size: 1.9rem;
    margin-right: 5rem;
  }

  /* Tab content */
  .tab-content {
    padding: 8rem 0;
    background: #fff;
    color: #070707;
}

.project-wrapper h2 {
    color: #070707;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.project-wrapper h2:after {
    content: ""; 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 25%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 5px solid #90107d; /* This creates the border. Replace black with whatever color you want. */
}

.row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 6rem;
    align-items: center;
    justify-content: center;
    margin: 90px 0;
}

.des {
    font-size: 1.5rem;
    font-weight: 400;
    color: #070707;
}

.des h3 {
    color: #000;
    font-size: 2.7rem;
    font-weight: 600;
    margin-bottom: 2.1rem;
}

.des .text {
    padding-bottom: 1rem;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    transition: transform 1s ease 0s;
}

img:hover {
    transform: translateX(10px) translateY(10px);
}


/* Contact Section */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;;
    Padding-top: 35px;
    padding-bottom: 25px;
    color: #ddd;
    background-color: #070707;
    background-image: linear-gradient(129deg,#000,#300c2a);
  }
  
  .contact-section-header > h2 {
    font-size: 5rem;
  }
  

  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 2.8rem;
    padding-bottom: 3rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 2.1rem;
    color: #ddd;
    padding-right: 1.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
}


  /* footer */
  footer {
    font-weight: 300;
    padding: 1.8rem;
    background: #070707;
    color: #eee;
    text-align: center;
    font-size: 1.9rem;;
    
}

footer > p {
    margin: 0.8rem;
  }

  /* Container */
  .container {
    max-width: 90%;
    margin: auto;
    overflow: hidden;
    padding:0 2rem;
}

/* btn */
.btn {
    margin-top: 1rem;
    display: inline-block;
    background:  #90107d;
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    border-radius: 2px; 
    transition: transform 0.3s ease-out;
  }
  
  .btn:hover {
    opacity: 0.9;
    transform: translateY(5px);
}

.btn-rounded {
    border-radius: 5px;
}

.btn-lg {
    font-size: 1.5rem;
    padding: 1.1rem 2.1rem;
    text-transform: uppercase;
}

/* border */
.border {
    border-bottom: #90107d 5px solid;
    max-width: 350px;
    
}


  /* media queries */

  @media(max-width: 999px) {
    .about{
        height: 120vh;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
       text-align: center;
    }

    .left {
        font-size: 2rem;
    }

     /*.right {
        font-size: 1rem;
    } */

    .border {
        margin: auto;
        
    }

    
    footer {
        flex-direction: column;
        text-align: center;
    }

    .row {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
  
  @media(max-width: 850px) {
      .about{
          height: 120vh;
          grid-template-columns: 1fr;
          justify-content: center;
          align-items: center;
          text-align: center;
      }

      .left {
        font-size: 2rem;
    }
 /*
    .right {
        font-size: 1rem;
    } */

      .border {
        margin: auto;
        
    }

      .row {
          grid-template-columns: 1fr;
          text-align: center;
      }

      .contact-section-header > h2 {
        font-size: 4rem;
      }
  }
